RDWCGISRVFRM RCDATA ".\RDWCGIFORM.dfm"
RDWCGISRVUNIT RCDATA ".\RDWCGIUNIT.pas"
RDWCGIDATAMFRM RCDATA ".\RDWDmCGI.dfm"
RDWCGIDATAMUNIT RCDATA ".\RDWDmCGI.pas"
RDWSRVFRM RCDATA ".\URDWServer.dfm"
RDWSRVUNIT RCDATA ".\URDWServer.pas"
RDWUSOCK RCDATA ".\uSock.pas"
RDWDATAMFRM RCDATA ".\URDWDm.dfm"
RDWDATAMUNIT RCDATA ".\URDWDm.pas"
