DW BITMAP "dwIcon.bmp"
TRESTDWClientEvents BITMAP "TRESTDWClientEvents.bmp"
TRESTDWClientEvents16 BITMAP "TRESTDWClientEvents16.bmp"
TRESTDWClientREST BITMAP "TRESTDWClientREST.bmp"
TRESTDWClientREST16 BITMAP "TRESTDWClientREST16.bmp"
TRESTDWContextRules BITMAP "TRESTDWContextRules.bmp"
TRESTDWContextRules16 BITMAP "TRESTDWContextRules16.bmp"
TRESTDWISAPIRunner BITMAP "TRESTDWISAPIRunner.bmp"
TRESTDWISAPIRunner16 BITMAP "TRESTDWISAPIRunner16.bmp"
TRESTDWMassiveCache BITMAP "TRESTDWMassiveCache.bmp"
TRESTDWMassiveCache16 BITMAP "TRESTDWMassiveCache16.bmp"
TRESTDWUpdateSQL BITMAP "TRESTDWUpdateSQL.bmp"
TRESTDWUpdateSQL16 BITMAP "TRESTDWUpdateSQL16x16.bmp"
TRESTDWMassiveSQLCache BITMAP "TRESTDWMassiveSQLCache.bmp"
TRESTDWMassiveSQLCache16 BITMAP "TRESTDWMassiveSQLCache16.bmp"
TRESTDWMemtable BITMAP "TRESTDWMemtable.bmp"
TRESTDWMemtable16 BITMAP "TRESTDWMemtable16.bmp"
TRESTDWResponseTranslator BITMAP "TRESTDWResponseTranslator.bmp"
TRESTDWResponseTranslator16 BITMAP "TRESTDWResponseTranslator16.bmp"
TRESTDWServerContext BITMAP "TRESTDWServerContext.bmp"
TRESTDWServerContext16 BITMAP "TRESTDWServerContext16.bmp"
TRESTDWServerEvents BITMAP "TRESTDWServerEvents.bmp"
TRESTDWServerEvents16 BITMAP "TRESTDWServerEvents16.bmp"
TRESTDWClientPooler BITMAP "TRESTDWClientPooler.bmp"
TRESTDWClientPooler16 BITMAP "TRESTDWClientPooler16.bmp"
TRESTDWPoolerDB BITMAP "TRESTDWPoolerDB.bmp"
TRESTDWPoolerDB16 BITMAP "TRESTDWPoolerDB16.bmp"
TRESTDWClientSQL BITMAP "TRESTDWClientSQL.bmp"
TRESTDWClientSQL16 BITMAP "TRESTDWClientSQL16.bmp"
TRESTDWDataBase BITMAP "TRESTDWDataBase.bmp"
TRESTDWDataBase16 BITMAP "TRESTDWDataBase16.bmp"
TRESTDWPoolerList BITMAP "TRESTDWPoolerList.bmp"
TRESTDWPoolerList16 BITMAP "TRESTDWPoolerList16.bmp"
TRESTDWServiceNotification BITMAP "TRESTDWServiceNotification.bmp"
TRESTDWServiceNotification16 BITMAP "TRESTDWServiceNotification16.bmp"
TRESTDWClientNotification BITMAP "TRESTDWClientNotification.bmp"
TRESTDWClientNotification16 BITMAP "TRESTDWClientNotification16.bmp"
TRESTDWStoredProc BITMAP "TRESTDWStoredProc.bmp"
TRESTDWStoredProc16 BITMAP "TRESTDWStoredProc16.bmp"
TRESTDWServiceCGI BITMAP "TRESTDWServiceCGI.bmp"
TRESTDWServiceCGI16 BITMAP "TRESTDWServiceCGI16.bmp"
TRESTDWServicePooler BITMAP "TRESTDWServicePooler.bmp"
TRESTDWServicePooler16 BITMAP "TRESTDWServicePooler16.bmp"
TRESTDWServiceSynPooler BITMAP "TRESTDWServiceSynPooler.bmp"
TRESTDWServiceSynPooler16 BITMAP "TRESTDWServiceSynPooler16.bmp"
TRESTDWBatchMove BITMAP "TRESTDWBatchMove.bmp"
TRESTDWBatchMove16 BITMAP "TRESTDWBatchMove16.bmp"
TRESTDWTable BITMAP "TRESTDWTable.bmp"
TRESTDWTable16 BITMAP "TRESTDWTable16.bmp"