DW BITMAP "..\icons\package\dwIcon.bmp"
TRESTDWAuthBasic BITMAP "..\icons\components\core\TRESTDWAuthBasic.bmp"
TRESTDWAuthBasic16 BITMAP "..\icons\components\core\TRESTDWAuthBasic16.bmp"
TRESTDWAuthToken BITMAP "..\icons\components\core\TRESTDWAuthToken.bmp"
TRESTDWAuthToken16 BITMAP "..\icons\components\core\TRESTDWAuthToken16.bmp"
TRESTDWAuthOAuth BITMAP "..\icons\components\core\TRESTDWAuthOAuth.bmp"
TRESTDWAuthOAuth16 BITMAP "..\icons\components\core\TRESTDWAuthOAuth16.bmp"
TRESTDWAuthOAuth2 BITMAP "..\icons\components\core\TRESTDWAuthOAuth2.bmp"
TRESTDWAuthOAuth216 BITMAP "..\icons\components\core\TRESTDWAuthOAuth216.bmp"
TRESTDWBatchMove BITMAP "..\icons\components\core\TRESTDWBatchMove.bmp"
TRESTDWBatchMove16 BITMAP "..\icons\components\core\TRESTDWBatchMove16.bmp"
TRESTDWBufferDB BITMAP "..\icons\components\core\TRESTDWBufferDB.bmp"
TRESTDWBufferDB16 BITMAP "..\icons\components\core\TRESTDWBufferDB16.bmp"
TRESTDWClientEvents BITMAP "..\icons\components\core\TRESTDWClientEvents.bmp"
TRESTDWClientEvents16 BITMAP "..\icons\components\core\TRESTDWClientEvents16.bmp"
TRESTDWClientNotification BITMAP "..\icons\components\core\TRESTDWClientNotification.bmp"
TRESTDWClientNotification16 BITMAP "..\icons\components\core\TRESTDWClientNotification16.bmp"
TRESTDWClientSQL BITMAP "..\icons\components\core\TRESTDWClientSQL.bmp"
TRESTDWClientSQL16 BITMAP "..\icons\components\core\TRESTDWClientSql16.bmp"
TRESTDWContextRules BITMAP "..\icons\components\core\TRESTDWContextRules.bmp"
TRESTDWContextRules16 BITMAP "..\icons\components\core\TRESTDWContextRules16.bmp"
TRESTDWMassiveCache BITMAP "..\icons\components\core\TRESTDWMassiveCache.bmp"
TRESTDWMassiveCache16 BITMAP "..\icons\components\core\TRESTDWMassiveCache16.bmp"
TRESTDWMassiveSQLCache BITMAP "..\icons\components\core\TRESTDWMassiveSQLCache.bmp"
TRESTDWMassiveSQLCache16 BITMAP "..\icons\components\core\TRESTDWMassiveSQLCache16.bmp"
TRESTDWMemtable BITMAP "..\icons\components\core\TRESTDWMemtable.bmp"
TRESTDWMemtable16 BITMAP "..\icons\components\core\TRESTDWMemTable16.bmp"
TRESTDWPoolerDB BITMAP "..\icons\components\core\TRESTDWPoolerDB.bmp"
TRESTDWPoolerDB16 BITMAP "..\icons\components\core\TRESTDWPoolerDB16.bmp"
TRESTDWResponseTranslator BITMAP "..\icons\components\core\TRESTDWResponseTranslator.bmp"
TRESTDWResponseTranslator16 BITMAP "..\icons\components\core\TRESTDWResponseTranslator16.bmp"
TRESTDWServerContext BITMAP "..\icons\components\core\TRESTDWServerContext.bmp"
TRESTDWServerContext16 BITMAP "..\icons\components\core\TRESTDWServerContext16.bmp"
TRESTDWServerEvents BITMAP "..\icons\components\core\TRESTDWServerEvents.bmp"
TRESTDWServerEvents16 BITMAP "..\icons\components\core\TRESTDWServerEvents16.bmp"
TRESTDWServerNotification BITMAP "..\icons\components\core\TRESTDWServerNotification.bmp"
TRESTDWServerNotification16 BITMAP "..\icons\components\core\TRESTDWServerNotification16.bmp"
TRESTDWStoredProcedure BITMAP "..\icons\components\core\TRESTDWStoredProcedure.bmp"
TRESTDWStoredProcedure16 BITMAP "..\icons\components\core\TRESTDWStoredProcedure16.bmp"
TRESTDWTable BITMAP "..\icons\components\core\TRESTDWTable.bmp"
TRESTDWTable16 BITMAP "..\icons\components\core\TRESTDWTable16.bmp"
TRESTDWUpdateSQL BITMAP "..\icons\components\core\TRESTDWUpdateSQL.bmp"
TRESTDWUpdateSQL16 BITMAP "..\icons\components\core\TRESTDWUpdateSQL16.bmp"