DW BITMAP "..\icons\dwIcon.bmp"
TRESTDWBatchMove BITMAP "..\icons\components\TRESTDWBatchMove.bmp"
TRESTDWBatchMove16 BITMAP "..\icons\components\TRESTDWBatchMove16.bmp"
TRESTDWBufferDB BITMAP "..\icons\components\TRESTDWBufferDB.bmp"
TRESTDWBufferDB16 BITMAP "..\icons\components\TRESTDWBufferDB16.bmp"
TRESTDWClientEvents BITMAP "..\icons\components\TRESTDWClientEvents.bmp"
TRESTDWClientEvents16 BITMAP "..\icons\components\TRESTDWClientEvents16.bmp"
TRESTDWClientNotification BITMAP "..\icons\components\TRESTDWClientNotification.bmp"
TRESTDWClientNotification16 BITMAP "..\icons\components\TRESTDWClientNotification16.bmp"
TRESTDWClientSQL BITMAP "..\icons\components\TRESTDWClientSQL.bmp"
TRESTDWClientSQL16 BITMAP "..\icons\components\TRESTDWClientSql16.bmp"
TRESTDWContextRules BITMAP "..\icons\components\TRESTDWContextRules.bmp"
TRESTDWContextRules16 BITMAP "..\icons\components\TRESTDWContextRules16.bmp"
TRESTDWMassiveCache BITMAP "..\icons\components\TRESTDWMassiveCache.bmp"
TRESTDWMassiveCache16 BITMAP "..\icons\components\TRESTDWMassiveCache16.bmp"
TRESTDWMassiveSQLCache BITMAP "..\icons\components\TRESTDWMassiveSQLCache.bmp"
TRESTDWMassiveSQLCache16 BITMAP "..\icons\components\TRESTDWMassiveSQLCache16.bmp"
TRESTDWMemtable BITMAP "..\icons\components\TRESTDWMemtable.bmp"
TRESTDWMemtable16 BITMAP "..\icons\components\TRESTDWMemTable16.bmp"
TRESTDWPoolerDB BITMAP "..\icons\components\TRESTDWPoolerDB.bmp"
TRESTDWPoolerDB16 BITMAP "..\icons\components\TRESTDWPoolerDB16.bmp"
TRESTDWPoolerList BITMAP "..\icons\components\TRESTDWPoolerList.bmp"
TRESTDWPoolerList16 BITMAP "..\icons\components\TRESTDWPoolerList16.bmp"
TRESTDWResponseTranslator BITMAP "..\icons\components\TRESTDWResponseTranslator.bmp"
TRESTDWResponseTranslator16 BITMAP "..\icons\components\TRESTDWResponseTranslator16.bmp"
TRESTDWServerContext BITMAP "..\icons\components\TRESTDWServerContext.bmp"
TRESTDWServerContext16 BITMAP "..\icons\components\TRESTDWServerContext16.bmp"
TRESTDWServerEvents BITMAP "..\icons\components\TRESTDWServerEvents.bmp"
TRESTDWServerEvents16 BITMAP "..\icons\components\TRESTDWServerEvents16.bmp"
TRESTDWServerNotification BITMAP "..\icons\components\TRESTDWServerNotification.bmp"
TRESTDWServerNotification16 BITMAP "..\icons\components\TRESTDWServerNotification16.bmp"
TRESTDWStoredProcedure BITMAP "..\icons\components\TRESTDWStoredProcedure.bmp"
TRESTDWStoredProcedure16 BITMAP "..\icons\components\TRESTDWStoredProcedure16.bmp"
TRESTDWTable BITMAP "..\icons\components\TRESTDWTable.bmp"
TRESTDWTable16 BITMAP "..\icons\components\TRESTDWTable16.bmp"
TRESTDWUpdateSQL BITMAP "..\icons\components\TRESTDWUpdateSQL.bmp"
TRESTDWUpdateSQL16 BITMAP "..\icons\components\TRESTDWUpdateSQL16.bmp"