TRESTDWFireDACDriver BITMAP "..\icons\components\TRESTDWDriverFireDAC.bmp"
TRESTDWFireDACDriver16 BITMAP "..\icons\components\TRESTDWDriverFireDAC16.bmp"
TRESTDWFireDACPhysLink BITMAP "..\icons\components\TRESTDWFireDACPhysLink.bmp"
TRESTDWFireDACPhysLink16 BITMAP "..\icons\components\TRESTDWFireDACPhysLink16.bmp"