TRESTDWIdClientPooler BITMAP "..\icons\components\socket\indy\TRESTDWIdClientPooler.bmp"
TRESTDWIdClientPooler16 BITMAP "..\icons\components\socket\indy\TRESTDWIdClientPooler16.bmp"
TRESTDWIdClientREST BITMAP "..\icons\components\socket\indy\TRESTDWIdClientREST.bmp"
TRESTDWIdClientREST16 BITMAP "..\icons\components\socket\indy\TRESTDWIdClientREST16.bmp"
TRESTDWIdDataBase BITMAP "..\icons\components\socket\indy\TRESTDWIdDataBase.bmp"
TRESTDWIdDataBase16 BITMAP "..\icons\components\socket\indy\TRESTDWIdDataBase16.bmp"
TRESTDWIdServicePooler BITMAP "..\icons\components\socket\indy\TRESTDWIdServicePooler.bmp"
TRESTDWIdServicePooler16 BITMAP "..\icons\components\socket\indy\TRESTDWIdServicePooler16.bmp"
TRESTDWIdPoolerList BITMAP "..\icons\components\socket\indy\TRESTDWIdPoolerList.bmp"
TRESTDWIdPoolerList16 BITMAP "..\icons\components\socket\indy\TRESTDWIdPoolerList16.bmp"