TRESTDWIcsClientPooler BITMAP "..\icons\components\socket\ics\TRESTDWIcsClientPooler.bmp"
TRESTDWIcsClientPooler16 BITMAP "..\icons\components\socket\ics\TRESTDWIcsClientPooler16.bmp"
TRESTDWIcsClientREST BITMAP "..\icons\components\socket\ics\TRESTDWIcsClientREST.bmp"
TRESTDWIcsClientREST16 BITMAP "..\icons\components\socket\ics\TRESTDWIcsClientREST16.bmp"
TRESTDWIcsDataBase BITMAP "..\icons\components\socket\ics\TRESTDWIcsDataBase.bmp"
TRESTDWIcsDataBase16 BITMAP "..\icons\components\socket\ics\TRESTDWIcsDataBase16.bmp"
TRESTDWIcsServicePooler BITMAP "..\icons\components\socket\ics\TRESTDWIcsServicePooler.bmp"
TRESTDWIcsServicePooler16 BITMAP "..\icons\components\socket\ics\TRESTDWIcsServicePooler16.bmp"
TRESTDWIcsPoolerList BITMAP "..\icons\components\socket\ics\TRESTDWIcsPoolerList.bmp"
TRESTDWIcsPoolerList16 BITMAP "..\icons\components\socket\ics\TRESTDWIcsPoolerList16.bmp"
