TRESTDWSynClientPooler BITMAP "..\icons\components\socket\synopse\TRESTDWSynClientPooler.bmp"
TRESTDWSynClientPooler16 BITMAP "..\icons\components\socket\synopse\TRESTDWSynClientPooler16.bmp"
TRESTDWSynClientREST BITMAP "..\icons\components\socket\synopse\TRESTDWSynClientREST.bmp"
TRESTDWSynClientREST16 BITMAP "..\icons\components\socket\synopse\TRESTDWSynClientREST16.bmp"
TRESTDWSynDataBase BITMAP "..\icons\components\socket\synopse\TRESTDWSynDataBase.bmp"
TRESTDWSynDataBase16 BITMAP "..\icons\components\socket\synopse\TRESTDWSynDataBase16.bmp"
TRESTDWSynServicePooler BITMAP "..\icons\components\socket\synopse\TRESTDWSynServicePooler.bmp"
TRESTDWSynServicePooler16 BITMAP "..\icons\components\socket\synopse\TRESTDWSynServicePooler16.bmp"
TRESTDWSynPoolerList BITMAP "..\icons\components\socket\synopse\TRESTDWSynPoolerList.bmp"
TRESTDWSynPoolerList16 BITMAP "..\icons\components\socket\synopse\TRESTDWSynPoolerList16.bmp"