TRESTDWSynClientPooler BITMAP "..\icons\components\TRESTDWSynClientPooler.bmp"
TRESTDWSynClientPooler16 BITMAP "..\icons\components\TRESTDWSynClientPooler16.bmp"
TRESTDWSynClientREST BITMAP "..\icons\components\TRESTDWSynClientREST.bmp"
TRESTDWSynClientREST16 BITMAP "..\icons\components\TRESTDWSynClientREST16.bmp"
TRESTDWSynDataBase BITMAP "..\icons\components\TRESTDWSynDataBase.bmp"
TRESTDWSynDataBase16 BITMAP "..\icons\components\TRESTDWSynDataBase16.bmp"
TRESTDWSynServicePooler BITMAP "..\icons\components\TRESTDWSynServicePooler.bmp"
TRESTDWSynServicePooler16 BITMAP "..\icons\components\TRESTDWSynServicePooler16.bmp"
